@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap&family=Barlow&display=swap");
html {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
.sub1 {
  color: #ffffff;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  margin: 0;
}

h5,
h6,
.sub2,
body,
li {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #d0d6f9;
  margin: 0;
}

p {
  text-transform: none;
  margin: 0;
  font-weight: 400;
}

body {
  font-family: "Barlow", "sans-serif";
}

h1 {
  font-size: 15rem;
}

h2 {
  font-size: 10rem;
}

h3 {
  font-size: 5.6rem;
  font-weight: 400;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.8rem;
  letter-spacing: 0.475rem;
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
}

.sub1 {
  font-size: 2.8rem;
}

.sub2,
li a {
  font-size: 1.4rem;
  letter-spacing: 0.235rem;
}

li a {
  text-decoration: none;
  color: #ffffff;
}

li span {
  font-size: 1.4rem;
  margin-right: 15px;
  font-weight: bold;
}

ul {
  list-style: none;
}

body {
  line-height: 1.4;
  font-weight: 400;
}

body {
  background-image: url(../assets/crew/background-crew-mobile.jpg);
}

main {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

html {
  font-size: 7px;
}

.crew-member-image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  position: relative;
}
.crew-member-image::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #fff;
  opacity: 0.1;
}
.crew-member-image img {
  width: 60%;
  margin: 0 auto;
}

.destination-text-content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.destination-text-content .crew-menu {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.destination-text-content .crew-role {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.destination-text-content .crew-name {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.destination-text-content .crew-bio {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.crew-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 0 auto 20px auto;
}

.crew-menu-dot {
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.2;
  cursor: pointer;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.crew-menu-dot.active {
  opacity: 1;
}

.crew-menu-dot:hover {
  opacity: 0.7;
}

h4 {
  opacity: 0.5;
  font-weight: normal;
}

h3 {
  font-size: 4rem;
  margin-bottom: 20px;
}

body::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #0b0d17;
  opacity: 0.7;
}

@media (min-width: 768px) {
  html {
    font-size: 10px;
  }
  body {
    background-image: url(../assets/crew/background-crew-tablet.jpg);
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  main h5 {
    margin-top: 30px;
  }
  .destination-text-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .destination-text-content * {
    -webkit-box-ordinal-group: unset !important;
        -ms-flex-order: unset !important;
            order: unset !important;
  }
  .destination-text-content .crew-menu {
    margin: 30px auto;
    width: 30%;
  }
  .destination-text-content .crew-menu .crew-menu-dot {
    height: 20px;
    width: 20px;
  }
  .crew-member-image::after {
    display: none;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main {
    max-width: 1600px;
    margin: 0 auto 5vh auto;
    width: 100vw;
    height: 60vh;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 8vw;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0 5vw;
    height: 80%;
  }
  main section {
    margin-bottom: 0 !important;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 100%;
    width: 100%;
  }
  main h5 {
    margin: 0;
    position: absolute;
    top: 0px;
  }
  main .destination-text-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    position: relative;
  }
  main .destination-text-content .crew-menu {
    position: absolute;
    width: 50%;
    bottom: 50px;
  }
  main .destination-text-content .crew-bio {
    max-width: 550px;
  }
  main .image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .image .crew-member-image {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .image .crew-member-image img {
    width: unset;
    min-height: 80%;
  }
}/*# sourceMappingURL=crewPage.css.map */