@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap&family=Barlow&display=swap");
html {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
.sub1 {
  color: #ffffff;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  margin: 0;
}

h5,
h6,
.sub2,
body,
li {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #d0d6f9;
  margin: 0;
}

p {
  text-transform: none;
  margin: 0;
  font-weight: 400;
}

body {
  font-family: "Barlow", "sans-serif";
}

h1 {
  font-size: 15rem;
}

h2 {
  font-size: 10rem;
}

h3 {
  font-size: 5.6rem;
  font-weight: 400;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.8rem;
  letter-spacing: 0.475rem;
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
}

.sub1 {
  font-size: 2.8rem;
}

.sub2,
li a {
  font-size: 1.4rem;
  letter-spacing: 0.235rem;
}

li a {
  text-decoration: none;
  color: #ffffff;
}

li span {
  font-size: 1.4rem;
  margin-right: 15px;
  font-weight: bold;
}

ul {
  list-style: none;
}

body {
  line-height: 1.4;
  font-weight: 400;
}

body {
  background-color: #0b0d17;
  margin: 0;
  padding: 0;
  width: 100vw;
}

body * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

img {
  max-width: 100%;
  display: block;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6vh;
  padding: 3rem 2rem;
}

.burger {
  cursor: pointer;
}

.menu.mobile {
  position: fixed;
  inset: 0 0 0 25%;
  height: 100vh;
  z-index: 1;
  top: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.3s all cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.3s all cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu.mobile ul {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
  margin-left: 5rem;
}
.menu.mobile ul * {
  font-size: 4rem;
}
.menu.mobile img {
  position: absolute;
  top: 30px;
  right: 5%;
}
.menu.mobile img {
  cursor: pointer;
}
.menu.mobile::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.menu.mobile.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.desktop {
  display: none;
}

.explore {
  width: 25rem;
  height: 25rem;
  line-height: 25rem;
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.explore h3 {
  color: #0b0d17;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 3px;
}
.explore:hover {
  -webkit-box-shadow: 0 0 0px 50px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 0px 50px rgba(255, 255, 255, 0.1);
}
.explore a {
  text-decoration: none;
}

@media (max-width: 767px) {
  html {
    font-size: 7px;
  }
  body {
    font-size: 3rem;
    min-height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .explore {
    width: 30rem;
    height: 30rem;
    line-height: 30rem;
  }
  main {
    text-align: center;
    padding: 0 4rem;
  }
}
ul {
  padding: 0;
}/*# sourceMappingURL=style.css.map */