body {
  background-image: url(../assets/technology/background-technology-mobile.jpg);
  font-size: 2.2rem;
}

main {
  min-height: 80vh;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
main .technology-text-content {
  margin: 0 6rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .technology-text-content .technology-description {
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
}
main .technology-text-content .technology-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 30px 0;
}
main img {
  margin: 30px auto;
}

.technology-image-portrait {
  display: none;
}

.technology-menu-dot {
  display: inline-block;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  font-family: "Bellefair", serif;
  font-size: 3rem;
}
.technology-menu-dot.active {
  color: #0b0d17;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  html {
    font-size: 10px;
  }
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  main > h5 {
    margin-top: 50px;
    margin-left: 30px;
  }
  main img {
    width: 100%;
  }
  main .technology-text-content {
    max-width: 80%;
    font-size: 3rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  main .technology-text-content .technology-menu {
    width: 50%;
  }
  main .technology-text-content .technology-menu .technology-menu-dot {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}
@media (max-height: 750px) {
  html {
    font-size: 7px;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  body {
    background-image: url(../assets/technology/background-technology-desktop.jpg);
  }
  main {
    max-width: 1600px;
    margin: 0 auto 5vh auto;
    width: 100vw;
    height: 60vh;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 8vw;
    padding-right: 0;
    -webkit-column-gap: 5vw;
       -moz-column-gap: 5vw;
            column-gap: 5vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: unset;
  }
  main section {
    margin-bottom: 0 !important;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 100%;
    width: 100%;
  }
  main > h5 {
    position: absolute;
  }
  main .image {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .technology-text-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
    margin: 0;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  main .technology-text-content .technology-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    height: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 80px;
  }
  main .technology-text-content .technology-menu .technology-menu-dot {
    width: 80px;
    height: 80px;
  }
  main .technology-text-content .description {
    text-align: left;
  }
  main .technology-text-content .description p {
    -moz-text-align-last: left;
         text-align-last: left;
  }
  .technology-image-landscape {
    display: none;
  }
  .technology-image-portrait {
    display: block;
  }
}/*# sourceMappingURL=technologyPage.css.map */