@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap&family=Barlow&display=swap");

html {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
.sub1 {
  color: $color-white;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  margin: 0;
}

h5,
h6,
.sub2,
body,
li {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: $color-blue;
  margin: 0;
}
p {
  text-transform: none;
  margin: 0;
  font-weight: 400;
}
body {
  font-family: "Barlow", "sans-serif";
}

h1 {
  font-size: 15rem;
}
h2 {
  font-size: 10rem;
}
h3 {
  font-size: 5.6rem;
  font-weight: 400;
}
h4 {
  font-size: 3.2rem;
}
h5 {
  font-size: 2.8rem;
  letter-spacing: 0.475rem;
}
h6 {
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
}
.sub1 {
  font-size: 2.8rem;
}

.sub2,
li a {
  font-size: 1.4rem;
  letter-spacing: 0.235rem;
}
li a {
  text-decoration: none;
  color: $color-white;
}
li span {
  font-size: 1.4rem;
  margin-right: 15px;
  font-weight: bold;
}

ul {
  list-style: none;
}
body {
  line-height: 1.4;
  font-weight: 400;
}
