@import "variables.scss";
@import "fonts.scss";

body {
  background-image: url(../assets/crew/background-crew-mobile.jpg);
}

main {
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
html {
  font-size: 7px;
}

.crew-member-image {
  order: 1;
  width: 100%;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #fff;
    opacity: 0.1;
  }
  img {
    width: 60%;
    margin: 0 auto;
  }
}

.destination-text-content {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  .crew-menu {
    order: 1;
  }
  .crew-role {
    order: 2;
  }
  .crew-name {
    order: 3;
  }
  .crew-bio {
    order: 4;
  }
}

.crew-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin: 0 auto 20px auto;
}
.crew-menu-dot {
  $menu-dot-size: 12px;
  display: block;
  height: $menu-dot-size;
  width: $menu-dot-size;
  border-radius: 50%;
  background-color: $color-white;
  opacity: 0.2;
  cursor: pointer;
  transition: opacity 0.2s linear;
  &.active {
    opacity: 1;
  }
}
.crew-menu-dot:hover {
  opacity: 0.7;
}

// font changes
h4 {
  opacity: 0.5;
  font-weight: normal;
}
h3 {
  font-size: 4rem;
  margin-bottom: 20px;
}

// darkening background
body::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: $color-dark;
  opacity: 0.7;
}

@media (min-width: 768px) {
  html {
    font-size: 10px;
  }
  body {
    background-image: url(../assets/crew/background-crew-tablet.jpg);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  main {
    flex-grow: 1;
    h5 {
      margin-top: 30px;
    }
  }
  .destination-text-content {
    order: 1;
    justify-content: flex-start;
    * {
      order: unset !important;
    }
    .crew-menu {
      margin: 30px auto;
      width: 30%;
      .crew-menu-dot {
        $menu-dot-size: 20px;
        height: $menu-dot-size;
        width: $menu-dot-size;
      }
    }
  }
  .crew-member-image {
    &::after {
      display: none;
    }
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  body {
    display: flex;
  }
  main {
    @include split-main;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0 5vw;
    height: 80%;
    h5 {
      margin: 0;
      position: absolute;
      top: 0px;
    }
    .destination-text-content {
      justify-content: center;
      text-align: left;
      position: relative;
      .crew-menu {
        position: absolute;
        width: 50%;
        bottom: 50px;
      }
      .crew-bio {
        max-width: 550px;
      }
    }
    .image {
      order: 2;
      .crew-member-image {
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        img {
          width: unset;
          min-height: 80%;
          max-height: 100%;
          max-width: 75%;
        }
      }
    }
  }
}
