main {
  margin-top: 50px;
  text-align: center;
  padding: 0 4rem;
}

.home-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  html {
    font-size: 6px;
  }
  body {
    font-size: 3rem;
    min-height: 100vh;
    width: 100vw;
    background-image: url(../assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  button {
    width: 30rem;
    height: 30rem;
  }
}
@media (max-height: 670px) {
  html {
    font-size: 5px;
  }
}
