main {
  margin-top: 10vh;
}
.home-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

body {
  background-image: url(../assets/home/background-home-mobile.jpg);
}
