.home-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  body {
    background-image: url(../assets/home/background-home-mobile.jpg);
  }
}
@media (max-height: 670px) {
  html {
    font-size: 5px;
  }
}
