@import "variables.scss";
@import "fonts.scss";

body {
  background-color: $color-dark;
  margin: 0;
  padding: 0;
  width: 100vw;
}

body * {
  user-select: none;
}

img {
  max-width: 100%;
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding: 3rem 2rem;
}
.burger {
  cursor: pointer;
}
.menu.mobile {
  position: fixed;
  inset: 0 0 0 25%;
  height: 100vh;
  z-index: 1;
  top: 0;
  transform: translateX(100%);
  transition: 0.3s all cubic-bezier(0.165, 0.84, 0.44, 1);
  ul {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    margin-left: 5rem;
    * {
      font-size: 4rem;
    }
  }
  img {
    position: absolute;
    top: 30px;
    right: 5%;
    & {
      cursor: pointer;
    }
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(20px);
  }
  &.active {
    transform: translateX(0);
  }
}

.desktop {
  display: none;
}

.explore {
  $button-size: 25rem;
  width: $button-size;
  height: $button-size;
  line-height: $button-size;
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  h3 {
    color: $color-dark;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 3px;
  }
  &:hover {
    box-shadow: 0 0 0px 50px rgba(255, 255, 255, 0.1);
  }
  a {
    text-decoration: none;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 7px;
  }
  body {
    font-size: 3rem;
    min-height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .explore {
    $button-size: 30rem;
    width: $button-size;
    height: $button-size;
    line-height: $button-size;
  }
  main {
    text-align: center;
    padding: 0 4rem;
  }
}

ul {
  padding: 0;
}
