@import "variables.scss";

body {
  background-image: url(../assets/technology/background-technology-mobile.jpg);
  font-size: 2.2rem;
}
main {
  min-height: 80vh;
  padding: 0;
  @include flex-column;
  justify-content: flex-start;
  .technology-text-content {
    margin: 0 6rem;
    order: 2;
    height: 350px;
    @include flex-column;
    .technology-description {
      text-align: justify;
      text-align-last: center;
    }
    .technology-menu {
      display: flex;
      width: 80%;
      justify-content: space-evenly;
      margin: 30px 0;
    }
  }
  img {
    margin: 30px auto;
  }
}
.technology-image-portrait {
  display: none;
}

.technology-menu-dot {
  display: inline-block;
  $technology-dot-size: 45px;
  width: $technology-dot-size;
  height: $technology-dot-size;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  text-align: center;
  color: $color-white;
  cursor: pointer;
  font-family: "Bellefair", serif;
  font-size: 3rem;
  &.active {
    color: $color-dark;
    background-color: $color-white;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 10px;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    flex-grow: 1;
    width: 100vw;
    margin: 0;
    padding: 0;
    > h5 {
      margin-top: 50px;
      margin-left: 30px;
    }
    img {
      width: 100%;
    }
    .technology-text-content {
      max-width: 80%;
      font-size: 3rem;
      height: fit-content;
      .technology-menu {
        width: 50%;
        .technology-menu-dot {
          $technology-dot-size: 60px;
          width: $technology-dot-size;
          height: $technology-dot-size;
          line-height: $technology-dot-size;
        }
      }
    }
  }
}
@media (max-height: 750px) {
  html {
    font-size: 7px;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  body {
    background-image: url(../assets/technology/background-technology-desktop.jpg);
  }
  main {
    @include split-main;
    padding-right: 0;
    column-gap: 5vw;
    align-items: center;
    max-width: unset;
    > h5 {
      position: absolute;
    }
    .image {
      flex-basis: 50%;
      order: 2;
      display: flex;
      align-items: center;
    }
    .technology-text-content {
      flex-direction: row;
      height: 100%;
      margin: 0;
      flex-basis: 60%;
      .technology-menu {
        flex-direction: column;
        margin: 0;
        height: 50%;
        justify-content: space-between;
        margin-right: 80px;
        .technology-menu-dot {
          $technology-dot-size: 80px;
          width: $technology-dot-size;
          height: $technology-dot-size;
        }
      }
      .description {
        text-align: left;
        p {
          text-align-last: left;
        }
      }
    }
  }

  .technology-image-landscape {
    display: none;
  }
  .technology-image-portrait {
    display: block;
  }
}
