@import "variables.scss";
@import "fonts.scss";
@import "style.scss";

html {
  font-size: 6px;
}
body {
  background-image: url(../assets/technology/background-technology-mobile.jpg);
}
main {
  min-height: 80vh;
  padding: 0;
  @include flex-column;
  justify-content: flex-start;
  .technology-text-content {
    margin: 0 6rem;
    order: 2;
    height: 350px;
    @include flex-column;
    .technology-menu {
      display: flex;
      width: 80%;
      justify-content: space-evenly;
      margin: 30px 0;
    }
  }
  img {
    margin: 30px auto;
  }
}

.technology-menu-dot {
  display: inline-block;
  $technology-dot-size: 45px;
  width: $technology-dot-size;
  height: $technology-dot-size;
  line-height: $technology-dot-size;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  text-align: center;
  color: $color-white;
  cursor: pointer;
  &.active {
    color: $color-dark;
    background-color: $color-white;
  }
}
